name: CI/CD Pipeline

on:
  push:
    branches: [ main, self-hosted ]
  pull_request:
    branches: [ main, self-hosted ]

env:
  DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/spring-boot-app

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Run tests
        run: ./gradlew test